body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#main {
  height: calc(100vh - 20vh);
}
.bg-black {
  background-color: rgb(1, 0, 22);

  height: 100vh;
  width: 100% !important;
}

svg {
  filter: drop-shadow(10px -5px 20px rgba(159, 190, 253, 0.9));
}

#globe svg {
  /* background: #244971; */
  background: radial-gradient(#016bbb, #012138);
  border-radius: 100%;

  left: 0px !important;
  margin-left: 0px !important;
}
.star {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(
      rgba(0, 0, 255, 0.31),
      rgba(255, 255, 255, 0.1) 5px,
      transparent 40px
    ),
    radial-gradient(
      rgba(229, 255, 0, 0.492),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 20px
    ),
    radial-gradient(
      rgba(255, 174, 0, 0.61),
      rgba(255, 255, 255, 0.063) 1px,
      transparent 20px
    ),
    radial-gradient(
      rgba(0, 255, 225, 0.61),
      rgba(255, 255, 255, 0.063) 1px,
      transparent 20px
    ),
    radial-gradient(
      rgba(0, 255, 225, 0.61),
      rgba(255, 255, 255, 0.063) 1px,
      transparent 10px
    ),
    radial-gradient(
      rgb(0, 255, 225),
      rgba(255, 255, 255, 0.063) 1px,
      transparent 20px
    ),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.text {
  color: #169ca3;
  font-family: "Brush Script MT", cursive;
}

#globe {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#legend-background {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.marks .sphere {
  fill: #16497f;
  position: absolute;
  left: 0px !important;
  margin-left: 0px !important;
}

.marks .continents {
  fill: #1b7857;
  stroke: #fdf687;
}

 
 
